body {
    background-color: rgb(0, 0, 0);
    /* black */
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

/* navbar */
.navbar {
    background-color: #555555;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 1em;
    display: flex;
    justify-content: right;
    gap: 1.5em;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.3em 0.3em;
    border-radius: 0.5em;
}

.navbar a:hover {
    color: #00e1ff;
    transform: scale(1.05);
}

.container {
    max-width: 800px;
    margin: 4em auto;
    padding: 2em;
    background-color: black;
    border-radius: 1em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transfrom 0.3s ease ,background-color 0.3s ease;
}

.container:hover {
    background-color: rgb(31, 31, 31);
}

h1 .aqua {
    color: #00fff2
}

/* Main Block */
.main {
    text-align: center;
    font-weight: bold;
    background-color: rgb(31, 31, 31);
    max-width: 800px;
    margin: 4em auto;
    padding: 1em;
    border-radius: 1em;
    color: #ffffff
}

.main2 {
    text-align: center;
    font-weight: bold;
    background-color: rgb(31, 31, 31);
    max-width: 800px;
    margin: 4em auto;
    padding: 1em;
    border-radius: 1em;
    color: #ffffff
}

.main3 {
    text-align: center;
    font-weight: bold;
    background-color: rgb(31, 31, 31);
    max-width: 800px;
    margin: 4em auto;
    padding: 1em;
    border-radius: 1em;
    color: #ffffff
}

.E-smp1 {
    color: red;
}

/* Discord & YouTube Link */

.dc-icon {
    width: 1.6em;
    height: 1.6rem;
    padding: 0 0.5em;
    border-radius: 0em;
    margin: -6px;
}

.dc {
    color: #00aeff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.dc:hover {
    color: #0071a5;
    transform: none;
}


.yt {
    color: red;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.yt:hover {
    color: darkred;
    transform: none;
}

.builder {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.1em 0.1em;
    border-radius: 0.5em;
}

.builder a {
    color: #00fff2;
}


.TechnoBlade {
    color: #f700ff;
}

.pig {
    color: #f700ff;
}

.house {
    color: #b96300;
}

.sa {
    color: red;
}

.owner {
    color: red;
    
}

/* footer */
.footer-1 {
    background-color: #242424;
    padding: 0.1em 0.1em;
    border-radius: 0.1em;
}

.footer-link {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em 0.1em;
    border-radius: 0.5em;
    display: flex;
    justify-content: left;
}

.footer-dc {
    color: #a1a1a1;
    display: contents;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-dc:hover {
    color: #424242;
    transform: none;
}


.footer-yt {
    color: #a1a1a1;
    display: contents;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-yt:hover {
    color: #424242;
    transform: none;
}

.footer-docs {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em 0.1em;
    border-radius: 0.5em;
    display: flex;
    justify-content: left;
}

.footer-docs-link {
    color: #a1a1a1;
    display: contents;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    border-radius: 0.5em;
}

.footer-docs-link:hover {
    color: #424242;
    transform: none;
}

.footer-power {
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
}